In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [6]:
# Create SQLAlchemy engine
engine = create_engine("postgresql+psycopg2://postgres:password%40123@postgres:5432/chembl_db")

In [9]:
# Use pandas to read a SQL query
query = """ 
    select distinct 
	    activity_id,
	    assay_id,
	    molregno,
	    confidence_score,
	    mw_freebase,
	    alogp,
	    hba,
	    hbd,
	    component_id
    from
    	public.chembl_ml_dataset cmd
    where
	    activity_id = 24887634
        """
df = pd.read_sql(query, engine)

# DataFrame ready to use
df.head()

,activity_id,assay_id,molregno,confidence_score,mw_freebase,alogp,hba,hbd,component_id
0,24887634,2243539,11305,5,264.32,2.47,3,3,107
1,24887634,2243539,11305,5,264.32,2.47,3,3,126
2,24887634,2243539,11305,5,264.32,2.47,3,3,257

In [10]:
X = df[["mw_freebase", "alogp", "hba", "hbd"]]
y = df["standard_value"]

KeyError: 'standard_value'